# 7. INTRODUCTION TO SQL

# 7.1. GETTING STARTED WHITH SQL AND BIGQUERY

# 7.1.1. COURS

In [1]:
# SQL : Structured Query Language 
#     = a programming language used with databases

In [2]:
# BigQuery : a web service that lets you apply SQL to huge datasets.

## 7.1.1.1. BigQuery COMMANDS

In [6]:
from google.cloud import bigquery

In [5]:
# The first step in the workflow is to create a Client object. 
# As you'll soon see, this Client object will play a central role in 
# retrieving information from BigQuery datasets.

In [ ]:
# CLIENT = object contenant les projets et 1e connection à BigQuery service
# bigquery-public-data = un project = une liste de dataset
# hacker_news = un dataset = une liste de tables

In [ ]:
# Create a "Client" object
client = bigquery.Client()
# attention - service payant

In [ ]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [ ]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)
# comments
# full
# full_201510
# stories

In [ ]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

#  7.1.1.2. TABLE SCHEMA

In [ ]:
# Print information on all the columns in the "full" table in the 
# "hacker_news" dataset
table.schema

# [SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
#  SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
#  SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
#  SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
#  SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
#  SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
#  SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
#  SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
#  SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
#  SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
#  SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
#  SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
#  SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
#  SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [ ]:
# SchemaField = un champ = référence à une colonne
# SchemaField(nom_colonne, field_type, mode_nullable, description)

In [ ]:
# récupérer les 5 premières lignes de toute la table
client.list_rows(table, max_results=5).to_dataframe()

# 	title	url	text	dead	by	score	time	timestamp	type	id	parent	descendants	ranking	deleted
# 0	None	None	None	None	None	None	1391699272	2014-02-06 15:07:52+00:00	story	7190711	NaN	None	None	True
# 1	None	None	Please elaborate how his divorce is either ill...	None	bauerd	None	1527013360	2018-05-22 18:22:40+00:00	comment	17128187	17128167.0	None	None	None
# 2	None	None	If it's the difference between shipping and no...	None	cheald	None	1326079846	2012-01-09 03:30:46+00:00	comment	3441358	3441154.0	None	None	None
# 3	None	None	I believe that political biases are blinding y...	None	learc83	None	1314393283	2011-08-26 21:14:43+00:00	comment	2929994	2929910.0	None	None	None
# 4	None	None	Relevant The Onion: <a href="https:&#x2F;&#x2F...	None	Taylor_OD	None	1551482279	2019-03-01 23:17:59+00:00	comment	19286260	19285865.0	None	None	None

In [ ]:
# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

# 	title
# 0	None
# 1	None
# 2	None
# 3	None
# 4	None

# 7.1.2. EXERCICES

In [ ]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

## 7.1.2.1. Count tables in the dataset

In [ ]:
# How many tables are in the Chicago Crime dataset?
# List all the tables in the "chicago_crime" dataset
tables = list(client.list_tables(dataset))

# Print number of tables in the dataset
print(len(tables))

# 1

## 7.2.1.2. Explore the table schema

In [ ]:
# How many columns in the crime table have TIMESTAMP data?
# Construct a reference to the "full" table
table_ref_crime = dataset_ref.table("crime")

# API request - fetch the table
table_crime = client.get_table(table_ref_crime)

# info de la table
print(table_crime.schema)

# [SchemaField('unique_key', 'INTEGER', 'REQUIRED', 'Unique identifier for the record.', ()), SchemaField('case_number', 'STRING', 'NULLABLE', 'The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.', ()), SchemaField('date', 'TIMESTAMP', 'NULLABLE', 'Date when the incident occurred. this is sometimes a best estimate.', ()), SchemaField('block', 'STRING', 'NULLABLE', 'The partially redacted address where the incident occurred, placing it on the same block as the actual address.', ()), SchemaField('iucr', 'STRING', 'NULLABLE', 'The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.', ()), SchemaField('primary_type', 'STRING', 'NULLABLE', 'The primary description of the IUCR code.', ()), SchemaField('description', 'STRING', 'NULLABLE', 'The secondary description of the IUCR code, a subcategory of the primary description.', ()), SchemaField('location_description', 'STRING', 'NULLABLE', 'Description of the location where the incident occurred.', ()), SchemaField('arrest', 'BOOLEAN', 'NULLABLE', 'Indicates whether an arrest was made.', ()), SchemaField('domestic', 'BOOLEAN', 'NULLABLE', 'Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.', ()), SchemaField('beat', 'INTEGER', 'NULLABLE', 'Indicates the beat where the incident occurred. A beat is the smallest police geographic area – each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.', ()), SchemaField('district', 'INTEGER', 'NULLABLE', 'Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.', ()), SchemaField('ward', 'INTEGER', 'NULLABLE', 'The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.', ()), SchemaField('community_area', 'INTEGER', 'NULLABLE', 'Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.', ()), SchemaField('fbi_code', 'STRING', 'NULLABLE', "Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS). See the Chicago Police Department listing of these classifications at http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html.", ()), SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', 'The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', ()), SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', 'The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', ()), SchemaField('year', 'INTEGER', 'NULLABLE', 'Year the incident occurred.', ()), SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', 'Date and time the record was last updated.', ()), SchemaField('latitude', 'FLOAT', 'NULLABLE', 'The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', ()), SchemaField('longitude', 'FLOAT', 'NULLABLE', 'The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', ()), SchemaField('location', 'STRING', 'NULLABLE', 'The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.', ())]

In [ ]:
num_timestamp_fields = 2

## 7.2.1.3. Create a crime map

In [ ]:
# If you wanted to create a map with a dot at the location of each crime, 
# what are the names of the two fields you likely need to pull out of the
# crime table to plot the crimes on a map?
fields_for_plotting = ['latitude', 'longitude']

In [ ]:
client.list_rows(table_crime, max_results=5).to_dataframe()
# champ 'block' contient le nom de la rue

# 	unique_key	case_number	date	block	iucr	primary_type	description	location_description	arrest	domestic	...	ward	community_area	fbi_code	x_coordinate	y_coordinate	year	updated_on	latitude	longitude	location
# 0	11644437	JC211452	2018-12-28 18:55:00+00:00	055XX S PULASKI RD	1122	DECEPTIVE PRACTICE	COUNTERFEIT CHECK	CURRENCY EXCHANGE	True	False	...	13	62	10	None	None	2018	2019-07-18 16:10:15+00:00	None	None	None
# 1	6014311	HP119430	2006-06-01 03:00:00+00:00	041XX W 57TH ST	0281	CRIM SEXUAL ASSAULT	NON-AGGRAVATED	RESIDENCE	True	False	...	13	62	02	None	None	2006	2015-08-17 15:03:40+00:00	None	None	None
# 2	7410194	HS212618	2003-12-01 13:00:00+00:00	106XX S AVENUE O	0842	THEFT	AGG: FINANCIAL ID THEFT	RESIDENCE	False	False	...	10	52	06	None	None	2003	2015-08-17 15:03:40+00:00	None	None	None
# 3	10481874	HZ221648	2010-03-25 12:00:00+00:00	100XX S AVENUE L	1154	DECEPTIVE PRACTICE	FINANCIAL IDENTITY THEFT $300 AND UNDER	RESIDENCE	False	False	...	10	52	11	None	None	2010	2016-04-12 15:48:52+00:00	None	None	None
# 4	2297390	HH569779	2002-08-09 22:15:00+00:00	032XX E 134TH ST	2022	NARCOTICS	POSS: COCAINE	STREET	True	False	...	10	55	18	None	None	2002	2015-08-17 15:03:40+00:00	None	None	None
# 5 rows × 22 columns