# 2. INTRODUCTION TO MACHINE LEARNING

# 2.1. Using Pandas to Get Familiar With Your Data

In [1]:
# Chargment de la librairie permettant d'explorer et manipuler data
import pandas as pd

In [2]:
# save filepath to variable for easier access
home_file_path = 'C:/Users/PC Maison/4-KAGGLE/KAGGLE_DEV/KAGGLE_COURSE_2-INTRO_MACHINE_LEARNING/home-data-for-ml-course/input/train.csv'
# read the data and store data in DataFrame titled melbourne_data
home_data = pd.read_csv(home_file_path) 
# print a summary of the data in Melbourne data
home_data.describe()
# count : nombre de valeurs non nulles
# mean : moyenne des valeurs
# std : Ã©cart type qui permet de voir la rÃ©partitionÃ¹ loi mormale
# min : minimum desvaluers
# max : maximum de valeurs
# 25% : 25th percentile : reprÃ©sente 25% des valeurs totales
# 50% : 50th percentile : reprÃ©sente 50% des valeurs totales 
# 75% : 75th percentile : reprÃ©sente 75% des valeurs totales

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [3]:
home_data.shape
# 13580 lignes et 21 colonnes

(1460, 81)

In [4]:
# Print summary statistics in next line
home_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
# What is the average lot size (rounded to nearest integer)?
avg_lot_size = round(home_data['LotArea'].mean())
print(f'{avg_lot_size=}')

# As of today, how old is the newest home (current year - 
# the date in which it was built)
newest_home_age = int(2020-home_data['YearBuilt'].max())
print(f'{newest_home_age=} ans')

avg_lot_size=10517
newest_home_age=10 ans

# Selecting Data for Modeling

In [6]:
# visualisation des colonnes
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

## FEATURES

In [7]:
# SÃ©lection des features
# Liste de colonnes
home_features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF',
                      'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
# sÃ©lection des features dans matrice X
X = home_data[home_features]

In [8]:
# rÃ©sumÃ©
X.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000

In [9]:
X.shape
# il ne reste plus que 6196 lignes (sur 13580 au dÃ©part) et 5 colonnes

(1460, 7)

In [10]:
# Visualisation des 5 premiÃ¨res lignes
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

## TARGET

In [11]:
# SÃ©lection de la target y = prix des maisons
y = home_data['SalePrice']
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

# Building Your Model

## EX dÃ©finition modÃ¨le DecisionTreeRegressor

In [12]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same 
# results each run
iowa_model = DecisionTreeRegressor(random_state=1)

# Fit model
iowa_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

## PrÃ©dictions

In [13]:
predictions = iowa_model.predict(X)
y_pred = iowa_model.predict(X)
print(predictions)

[208500. 181500. 223500. ... 266500. 142125. 147500.]

In [14]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(iowa_model.predict(X.head()))

Making predictions for the following 5 houses:
   LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
0     8450       2003       856       854         2             3
1     9600       1976      1262         0         2             3
2    11250       2001       920       866         2             3
3     9550       1915       961       756         1             3
4    14260       2000      1145      1053         2             4

   TotRmsAbvGrd
0             8
1             6
2             6
3             7
4             9
The predictions are
[208500. 181500. 223500. 140000. 250000.]

In [15]:
for i in range(5):
    print('Maison : ',i, ' - Prix rÃ©el : ', y[i], 
          'Prix prÃ©dit :', predictions[i])

Maison :  0  - Prix rÃ©el :  208500 Prix prÃ©dit : 208500.0
Maison :  1  - Prix rÃ©el :  181500 Prix prÃ©dit : 181500.0
Maison :  2  - Prix rÃ©el :  223500 Prix prÃ©dit : 223500.0
Maison :  3  - Prix rÃ©el :  140000 Prix prÃ©dit : 140000.0
Maison :  4  - Prix rÃ©el :  250000 Prix prÃ©dit : 250000.0

In [16]:
print("First in-sample predictions:", iowa_model.predict(X.head()))
print("Actual target values for those homes:", y.head().tolist())

First in-sample predictions: [208500. 181500. 223500. 140000. 250000.]
Actual target values for those homes: [208500, 181500, 223500, 140000, 250000]

# MODEL VALIDATION

In [17]:
# erreurs de prÃ©dictions entre y et les prÃ©dictions
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y, predictions)
print(f'{MAE = }')

MAE = 62.35433789954339

In [18]:
# TRAIN SET ET VAL SET
from sklearn.model_selection import train_test_split
# dÃ©coupe le data en un train set et val set pour les features et target
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 1)
# DÃ©finition du modÃ¨le
iowa_model = DecisionTreeRegressor(random_state = 1)
# Entrainement du modÃ¨le sur le TRAIN SET
iowa_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [19]:
# PrÃ©dictions ==> sur le VAL SET
val_predictions = iowa_model.predict(val_X)

In [20]:
# mÃ©trique des erreurs de pÃ©dictions sur VAL SET
MAE = mean_absolute_error(val_y, val_predictions)
print(f'{MAE = }')

MAE = 29652.931506849316

In [21]:
# print the top few validation predictions
print(val_X.head())
# print the top few actual prices from validation data
print(train_X.head())

      LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
258     12435       2001       963       829         2             3
267      8400       1939      1052       720         2             4
288      9819       1967       900         0         1             3
649      1936       1970       630         0         1             1
1233    12160       1959      1188         0         1             3

      TotRmsAbvGrd
258              7
267              8
288              5
649              3
1233             6
      LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
6       10084       2004      1694         0         2             3
807     21384       1923      1072       504         1             3
955      7136       1946       979       979         2             4
1040    13125       1957      1803         0         2             3
701      9600       1969      1164         0         1             3

      TotRmsAbvGrd
6                7
807              6
955              8
1040             8
701              6

In [22]:
# Fonction de calcul de la MAE en fonction du nombre de noeud de l'arbre
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, 
                                  random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [23]:
# Utilisation de la fonction pour diffÃ©rents nombres de noeuds
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  35044
Max leaf nodes: 50  		 Mean Absolute Error:  27405
Max leaf nodes: 500  		 Mean Absolute Error:  29454
Max leaf nodes: 5000  		 Mean Absolute Error:  30139

In [24]:
# 50 noeuds semblent la meilleur valeur, on peut affiner
for max_leaf_nodes in [30, 40, 50, 60]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 30  		 Mean Absolute Error:  28877
Max leaf nodes: 40  		 Mean Absolute Error:  28106
Max leaf nodes: 50  		 Mean Absolute Error:  27405
Max leaf nodes: 60  		 Mean Absolute Error:  27110

In [25]:
# 500 noeuds semblent la meilleur valeur, on peut affiner
for max_leaf_nodes in [60, 70, 80, 90]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 60  		 Mean Absolute Error:  27110
Max leaf nodes: 70  		 Mean Absolute Error:  26763
Max leaf nodes: 80  		 Mean Absolute Error:  27389
Max leaf nodes: 90  		 Mean Absolute Error:  27411

In [26]:
# 500 noeuds semblent la meilleur valeur, on peut affiner
for max_leaf_nodes in [65, 70, 75]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 65  		 Mean Absolute Error:  27044
Max leaf nodes: 70  		 Mean Absolute Error:  26763
Max leaf nodes: 75  		 Mean Absolute Error:  27114

In [27]:
# 500 noeuds semblent la meilleur valeur, on peut affiner
for max_leaf_nodes in [68, 69, 70, 71, 72]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 68  		 Mean Absolute Error:  26943
Max leaf nodes: 69  		 Mean Absolute Error:  26759
Max leaf nodes: 70  		 Mean Absolute Error:  26763
Max leaf nodes: 71  		 Mean Absolute Error:  26704
Max leaf nodes: 72  		 Mean Absolute Error:  26847

In [28]:
# meilleur noeud 71

In [29]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
# Write loop to find the ideal tree size from candidate_max_leaf_nodes
scores = {leaf_size: get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}
print(f'{scores = }')

# Store the best value of max_leaf_nodes (it will be either 5, 25, 50, 100, 250 or 500)
best_tree_size = min(scores, key=scores.get)
print(f'{best_tree_size = }')

scores = {5: 35044.51299744237, 25: 29016.41319191076, 50: 27405.930473214907, 100: 27282.50803885739, 250: 27893.822225701646, 500: 29454.18598068598}
best_tree_size = 100

In [30]:
candidate_max_leaf_nodes = [68, 69, 70, 71, 72]
# Write loop to find the ideal tree size from candidate_max_leaf_nodes
scores = {leaf_size: get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}
print(f'{scores = }')

# Store the best value of max_leaf_nodes (it will be either 5, 25, 50, 100, 250 or 500)
best_tree_size = min(scores, key=scores.get)
print(f'{best_tree_size = }')

scores = {68: 26943.66809417612, 69: 26759.46382428237, 70: 26763.340028993345, 71: 26704.033546536175, 72: 26847.869162974534}
best_tree_size = 71

In [31]:
# REENTRAINEMENT DU MODELE AVEC le meilleur nombre de noeud
# Fill in argument to make optimal size and uncomment
final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size, 
                                    random_state=1)

# fit the final model and uncomment the next two lines
final_model.fit(X,y)

DecisionTreeRegressor(max_leaf_nodes=71, random_state=1)

In [32]:
# PrÃ©dictions ==> sur le VAL SET
val_predictions = final_model.predict(val_X)

In [33]:
# Evaluation de ce meilleur modÃ¨le
# mÃ©trique des erreurs de pÃ©dictions sur VAL SET
MAE = mean_absolute_error(val_y, val_predictions)
print(f'{MAE = }')

MAE = 18615.832521690463

# RANDOM FOREST

In [34]:
from sklearn.ensemble import RandomForestRegressor

# DÃ©finition du modÃ¨le
forest_model = RandomForestRegressor(random_state=1)
# Entrainement du modÃ¨le sur le train set
forest_model.fit(train_X, train_y)

RandomForestRegressor(random_state=1)

In [35]:
# prÃ©dictions sur le VAL SET
y_pred = forest_model.predict(val_X)

In [36]:
# mÃ©trique des erreurs MAE
MAE = mean_absolute_error(val_y, y_pred)
print(f'{MAE = }')

MAE = 21857.15912981083

In [37]:
# KAGGLE COMPETITION